/*bio headers*/

h5 {
    color: #ec4e27; 
}

/*Superhero name */

h2 {
    color: #760d45;
}

.hero-name {
    text-align: center; 
}

h1 {
    text-align: center; 
    font-size: 4em; 
    margin-bottom: 30px; 
    color: #11b08c;
}

h4 {
    color: #11b08c; 
}

img{
    border: #4e4f9a;
    width: 100%; 
}

/*paragraph font*/

p {
    color: #303133;
}

* {
    font-family: inherit; 
}

.bio-info {
    border: 2px solid #11b08c; 
    padding-left: 10px; 
    display: inline-block; 
    width: 70%; 
}

.size-increase: hover {
    width: 500px; 
}

.size-increase {
    width:300px;
    display:inline;
}


